<%- include('header') %>
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Blog</h2>
                    <% if(locals.flash.success && locals.flash.success.length > 0) {%>
                        <div class="alert alert-success">
                            <%= locals.flash.success %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- ============================================================== -->
            <!-- basic table  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Blog</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form action="">
                                <div class="d-flex my-3">
                                    <input class="form-control" name="search" type="text" placeholder="Search..">
                                <input type="submit" value="search" name="searching" class="mx-2">
                                </div>
                            </form>
                            <form action="/blog/muldel" method="post">
                                <table class="table table-striped table-bordered first text-center">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="multidelet">
                                                <input type="submit" value="delet">
                                            </th>
                                            <th>image</th>
                                            <th>Title</th>
                                            <th>name</th>
                                            <th>date</th>
                                            <th>Content</th>
                                            <th>category</th>
                                            <th>operation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var dt of data){ %>
                                            <tr>
                                                <td><input type="checkbox" class="singleDelet" value="<%= dt.id %>" name="muldel[]"></td>
                                                <td><img src="<%=dt.image%>" height="50" width="50"></td>
                                                <td><%=dt.title%></td>
                                                <td><%=dt.name%></td>
                                                <td><%=dt.date%></td>
                                                <td><%=dt.content%></td>
                                                <td><%=dt.category%></td>
                                                <td>
                                                    <a href="/blog/delet/<%= dt.id %>"><i class="fa-solid fa-trash " style="font-size: 20px; margin-right: 8px;"></i></a>
                                                    <a href="/blog/edit_page/<%= dt.id %>"><i class="fa-solid fa-pen-to-square" style="font-size: 20px; margin-right: 8px;"></i></a>
                                                    <% if(dt.isActive){ %>
                                                        <a href="?id=<%= dt.id %>&status=deActive&page=<%= cpage %>&search=<%= search %>"><i class="fa-regular fa-circle-check" style="color: rgb(101, 187, 16); font-size: 20px;"></i></a>
                                                        <% }else{ %>
                                                        <a href="?id=<%= dt.id %>&status=Active&page=<%= cpage %>&search=<%= search %>"><i class="fa-regular fa-circle-check" style="font-size: 20px;"></i></a>
                                                        <% } %>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>image</th>
                                            <th>Title</th>
                                            <th>name</th>
                                            <th>date</th>
                                            <th>Content</th>
                                            <th>category</th>
                                            <th>operation</th>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <% cpage %>
                                                <% page_num %>
                                                <% var abc = cpage %>
                                                <% var prev = --abc %>
                                                <% if(prev>0){ %>
                                                        <a href="?page=<%= prev %>&search=<%= search %>">prev</a>
                                                    <% } %>
                                                <a href="?page=<%= cpage %>&search=<%= search %>"><%= cpage %></a>
                                                <% next = ++cpage %>
                                                <% if(cpage <= page_num){ %>
                                                    <a href="?page=<%= next %>&search=<%= search %>">next</a>
                                                    <% } %>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end basic table  -->
            <!-- ============================================================== -->
        </div>
    </div>
<%- include('footer') %>